<!DOCTYPE html>
<html lang="en">
<head>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
     {% load static %}
     <link rel="stylesheet" href="{% static 'css/base_list.css' %}">
</head>

<body>
<div class="container">
    <ul class="sidebar-nav" style="list-style-type: none">
        <li><a href="#">Checkouts</a></li>
        <li><a href="#">Books</a></li>
        <li><a href="#">Users</a></li>
    </ul>
    <div class="row col-md-12 custyle">
        <table class="table table-striped custab">
            <thead>
            <a href="#" class="btn btn-primary btn-xs pull-right"><b>+</b> Add</a>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Edition</th>
                <th>Release</th>
                <th>Available copies</th>
                <th class="text-center">Action</th>
            </tr>
            </thead>
            <tr>
                <td>Dandelion wine</td>
                <td>Ray Bradbury</td>
                <td>1</td>
                <td>1957</td>
                <td>5</td>
                <td class="text-center">
                    <a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                    <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
            </tr>
            <tr>
               <td>Dandelion wine</td>
                <td>Ray Bradbury</td>
                <td>1</td>
                <td>1957</td>
                <td>5</td>
                <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span
                        class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#"
                                                                             class="btn btn-danger btn-xs"><span
                        class="glyphicon glyphicon-remove"></span> Del</a></td>
            </tr>
            <tr>
                <td>Dandelion wine</td>
                <td>Ray Bradbury</td>
                <td>1</td>
                <td>1957</td>
                <td>5</td>
                <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span
                        class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#"
                                                                             class="btn btn-danger btn-xs"><span
                        class="glyphicon glyphicon-remove"></span> Del</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>