{% extends 'base_generic.html' %}

{% block content %}
<div class="container">
    <div class="row col-md-12 custyle">
        <table class="table table-striped custab">
            <thead>
            <a href="{% url 'document_new' %}" class="btn btn-primary btn-xs pull-right"><b>+</b> Add</a>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Edition</th>
                <th>Release</th>
                <th>Available copies</th>
                <th class="text-center">Action</th>
            </tr>
            </thead>
            {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.edition }}</td>
                    <td>{{ book.release }}</td>
                    <td>{{ book.numberOfCopies }}</td>
                    <td class="text-center">
                        <a class='btn btn-info btn-xs' href="{% url 'checkout-detail' document.id %}"><span class="glyphicon glyphicon-edit"></span> Checkout</a>
                        <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span>
                            Del</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}